.movie__card {
    width: 100%;
    min-height: 68px;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-color);

}

.movie__article {
    width: 100%;
}

.movie__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 225px;
    width: 100%;
}

.movie__subtitle {
    margin: 0;
    box-sizing: border-box;
    padding-top: 14px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    color: var(--first-font-color);

    box-sizing: border-box;
    padding-bottom: 29px;
    border-bottom: 1px solid #424242;
}

.movie__duration {
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    color: var(--second-font-color);
    box-sizing: border-box;
    padding-top: 6px;
}

.movie__save {
    align-self: flex-start;
    padding: 0;
    margin-top: 14px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: #2F2F2F;
    border-radius: 50%;
    background-image: url(../../images/likedis.svg);
    background-position: center;

    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity .3s linear;
}

.movie__save_active {
    background-image: url(../../images/likeactive.svg);
}

.movie__image {
    object-fit: cover;
    display: block;
    max-width: 270px;
    width: 100%;
    height: 151px;
    cursor: pointer;
}

.movie__save_type_delete {
    background-position: center;
    background-image: url(../../images/delete.svg);
}

@media (hover: hover) and (pointer: fine) {
    .movie__save:hover {
        opacity: .7;
    }
}

@media screen and (max-width: 1023px) {
    .movie__image {
        height: 190px;
    }

    .movie__text {
        max-width: 290px;
    }
}

@media screen and (max-width: 767px) {
    .movie__image {
        height: 168px;
    }

    .movie__text {
        max-width: 250px;
    }
}