.page__profile {
    margin: 0 auto;
    padding-top: 74px;
    max-width: 410px;
    width: 100%;
    padding-bottom: 70px;
    background-color: var(--dark-color);
  }
    
  .profile__title {
    margin: 0 0 123px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: var(--first-font-color);
  }
  .profile__link {
    display: block;
    margin-top: 16px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    color: #EE3465;
    transition: opacity .3s linear;
  }
    .profile__submit {
      color: var(--first-font-color);
    }
  @media (hover: hover) and (pointer: fine) {
    .profile__link:hover {
      opacity: .7;
    }
  }
  @media screen and (max-width: 768px) {
    .page__profile {
      padding-top: 236px;
    }
    .profile__title {
        margin-bottom: 95px;
      }
  }
  
  @media screen and (max-width: 525px) {
    .page__profile {
      padding-top: 70px;
      max-width: 260px;
    }
    .profile__title {
        margin-bottom: 79px;
      }
      .profile__link{
        font-size: 12px;
      }
  }

