.all__title {
  margin: 0 auto;
  padding-bottom: 22px;
  border-bottom: 1px solid #DADADA;
  max-width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.19px;
  color: var(--first-font-color)
  }
  @media (max-width: 320px) {
    .all__title {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.78px;
      letter-spacing: 0.39px;
      padding-bottom: 27px;
    }
  }