.page__login {
    padding-top: 70px;
    margin: 0 auto;
    width: 396px;
    background-color: var(--dark-color);
  }
  .login__link {
    text-decoration: none;
    color: #4285F4;
    transition: opacity .3s linear;
  }
  .login__link-home {
    display: block;
    width: 38px;
    height: 38px;
    background-image: url(../../images/logo.svg);
    transition: opacity .3s linear;
  }

  
  .login__title {
    margin: 40px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: var(--first-font-color);
  }
  
  .login__text {
    margin: 16px 0 0;
    padding-bottom: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: var(--first-font-color);
  }
  

  
  @media (hover: hover) and (pointer: fine) {
    .login__link:hover {
      opacity: .7;
    }
  
    .login__link-home:hover {
      opacity: .7;
    }
  }

  @media screen and (max-width: 768px) {
    .page__login {
      padding-top: 232px;
    }
  }
  
  @media screen and (max-width: 525px) {
    .page__login {
      padding-top: 56px;
      width: calc(260/320*100%);
    }
      .login__title {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 80px;
      }
      .login__text {
        font-size: 12px;
      }
  }
  
