.checkbox.style-e {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 26px;

}
.checkbox.style-e input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}
.checkbox.style-e input:checked ~ .checkbox__checkmark {
  background-color: #343434;
}
.checkbox.style-e input:checked ~ .checkbox__checkmark:after {
  left: 21px;
  background-color: #2BE080;
}
.checkbox.style-e:hover input ~ .checkbox__checkmark {
  background-color: #343434;
}
.checkbox.style-e:hover input:checked ~ .checkbox__checkmark {
  background-color: #343434;
}
.checkbox.style-e .checkbox__checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 22px;
  width: 40px;
  background-color: #343434;
  transition: background-color 0.25s ease;
  border-radius: 11px;
  
}
.checkbox.style-e .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.25s ease;
}
.checkbox.style-e .checkbox__body {
  color: var(--first-font-color);
  line-height: 1.4;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  transition: color 0.25s ease;
  
}
@media screen and (max-width:768px) {
  .checkbox.style-e{
    margin-left: 20px;
  }
}
@media screen and (max-width:550px) {
  .checkbox.style-e{
 
  background-color: var(--dark-color);
  }
  }

  @media screen and (max-width:320px) {
    .checkbox.style-e .checkbox__body {
      color: var(--first-font-color);
      line-height: 1.4;
      font-size: 11px;
      line-height: 18px;
      
    }
    .checkbox.style-e{
      margin-left: 0px;
    }
  }
