.page__content {
 max-width: 1280px;
 width: 100%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: var( --dark-color);
}
:root{
  --dark-color: #202020;
  --blue-color: #073042;
  --first-font-color: #FFFFFF;
  --second-font-color: #8B8B8B;
  --green-color: #3DDC84;

}
