.page__search {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--dark-color);
}

.search__container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
padding-bottom: 76px;
}



.search__input::placeholder {
  background: url(../../images/search.svg) no-repeat;
  background-position: left top;
  background-size: contain;
  height: 22px;
  padding-left: 42px;
  padding-bottom: 1px;
}

.search__input {
  background-color: transparent;
  border: none;
  width: 90%;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: var(--second-font-color);
  cursor: pointer;
  margin-right: 20px;

}

.search__submit {
  width: 59px;
  height: 34px;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-align: center;
  border-radius: 20px;
  background-color: #4285F4;
  background-repeat: no-repeat;
  font-size: 11px;
  cursor: pointer;
  transition: opacity .3s linear;
  color: white;
  padding-right: 30px;
  padding-left: 12px;
  margin-right: 31px;
}

.search__input:focus {
  outline: none;
  border-bottom: 2px solid #4285F4;
  box-shadow: 0 0 0 1px rgba(66, 133, 244, 0.2);
}

.search__submit_disabled {
  background-color: #4285F4;
  pointer-events: none;
  border: 2px solid rebeccapurple;
}
.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  border-radius: 9px;
  height: 72px;
  background-color: #2F2F2F;
  margin-top: 71px;
  padding-right: 32px;
  
}
.search__form-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #2F2F2F;
  align-items: center;
  box-sizing: border-box;
  gap: 29px;
  padding-right: 0px;
  padding-left: 20px;
  padding-bottom: 7px;
  border-right:  1px solid grey;
 
 
}

@media (max-width: 1140px) {
  .search__container {
    width: calc(320px + (1095 - 320) * ((100vw - 320px)/(1140 - 320)));
  }
}

@media screen and (max-width:768px) {
  .search__container {
    width: calc(320px + (708 - 320) * ((100vw - 320px)/(768 - 320)));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 16px;
    border-radius: 9px;
    gap: 2px;
    padding-right: 0px;
    margin-top: 80px;
    margin-bottom: 60px;

  }
  .search__form {
    margin-top: 0px;
    padding-right: 20px;
    
  }
  .search__form-block {
    gap: 29px;
    padding-right: 10px;
    padding-left: 20px;
   
  }
 

  .search__submit {
    font-size: 11px;
    margin-right: 9px;
    
  }

  input::placeholder {

    padding-bottom: 1px;


  }
}
@media screen and (max-width:550px) {
.search__form{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  border-radius: 9px;
  padding-right: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.search__form-block {
  border-radius: 9px;
  padding-top: 18px;
  padding-bottom: 19px;
  border: 0;
  margin-bottom: 19px;
}
}


@media (max-width: 320px) {
  .search__container {
    width: calc(300px + (100vw - 320px) * (300 - 320) / (768 - 320));
    background-color: var(--dark-color);
    margin-top: 97px;
    margin-bottom: 113px;

  }

  .search__form{
   row-gap: 27px;
    margin-top: 13px;
  }

  .search__input::placeholder {
    font-size: 14px;
    background-image: none;
    padding: 0;
  }
  .search__submit {
    font-size: 11px;
    line-height: 18px;
    width: 68px;
    padding-left: 13px;
    margin-right: 9px;
    padding-right: 12px;
    margin-top: 2px;
  }

  .search__input {
    font-size: 14px;
  }

}