.aboutMe {
    max-width: 1280px;
    width: 100%;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
}

.aboutMe__container {
    max-width: 1140px;
    width: 100%;
    padding-top: 97px;
    padding-bottom: 98px;
    

}

.aboutMe__columns {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 63px;
}

.aboutMe__blocktext {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}

.aboutMe__subtitle {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: 0.4px;
    font-weight: 400;
    color: var(--first-font-color);
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 22px;
}

.aboutMe__job {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: var(--first-font-color);
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 26px;
    letter-spacing: 0.565px;
}

.aboutMe__text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--first-font-color);
    max-width: 364px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 99px;
    max-width: 600px;
    width: 100%;
    letter-spacing: 0.559px;
}

.aboutMe__link {
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 500;
    color: var(--first-font-color);
    margin: 0;
    text-decoration: none;
}
.aboutMe__image {
    width: 270px;
    height: 327px;
}

@media (max-width: 1140px) {
    .aboutMe__container {
      width: calc(320px + (1095 - 320) * ((100vw - 320px)/(1140 - 320)));
     padding-top: 87px;
    }
}
@media (max-width: 768px) {
    .aboutMe__container {
      width: calc(320px + (668 - 320) * ((100vw - 320px)/(768 - 320)));
      column-gap: 20px;
      justify-content: center;
      padding-bottom: 72px;
    }
    .aboutMe__subtitle {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0.2px;
        padding-bottom: 17px;
    }
    .aboutMe__text {
        width: calc(320px + (364 - 320) * ((100vw - 320px)/(768 - 320)));
    }
    .aboutMe__image {
        width: 255px;
        height: 327px;
      
    }
    .aboutMe__columns{
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
    }
    .aboutMe__job {
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 18px;
        letter-spacing: 0.35px;
    }
    .aboutMe__text {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        padding-bottom: 90px;
        letter-spacing: 0.56px;
    }
}
@media (max-width: 695px) {
    .aboutMe__image {
        order: -2;
    }

}
@media (max-width: 320px) {
    .aboutMe__container {
        width: calc(292px + (100vw - 320px) * (292 - 320) / (768 - 320));
     
    }
    .aboutMe__text {
        width: calc(292px + (100vw - 320px) * (292 - 320) / (768 - 320));
    }
    .aboutMe__image {
    width: 292px;
        height: 352px;
    
    }
}